/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --container-width: 1350px;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-dark: #333;
  --clr-yellow: #ffbd54;
  --clr-primary: #78c0de;
  --ff-main: "Futura PT", "Arial", sans-serif;
  --font-weight: 400;
  --fw-light: 300;
  --fw-bold: 700;
  --fw-medium: 500;
  --font-size: 16px;
  --transition-time: 0.3s;
  --btn-transition: color 0.3s ease, background 0.3s ease;
}

/*******************************
    FONTS
********************************/

/* poppins-300italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/FuturaPT-Light.woff") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/FuturaPT-Light.woff2") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/FuturaPT-Book.woff") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/FuturaPT-Book.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: local(""), url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/FuturaPT-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/FuturaPT-Bold.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*******************************
    GENERAL STYLES
********************************/

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
  scroll-behavior: smooth;
  background-image: url("../images/bg.png");
  background-color: #f9f8f8;
}

img {
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input {
  border: none;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--btn-transition);
  -webkit-transition: var(--btn-transition);
  -moz-transition: var(--btn-transition);
  -ms-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);
  cursor: pointer;
}

.yellow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 35px;
  text-align: center;
  line-height: 21px;
  color: var(--clr-white);
  background-color: var(--clr-yellow);
}

.yellow-btn::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  background-image: url("../images/icons/money.svg");
}

.yellow-btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-yellow);
}

.yellow-btn:active {
  opacity: 0.6;
}

.primary-btn {
  padding: 15px 35px;
  text-align: center;
  line-height: 21px;
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.dark-btn {
  padding: 16px 45px;
  text-align: center;
  line-height: 21px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
}

.dark-btn:hover {
  background-color: var(--clr-yellow);
  color: var(--clr-dark);
}

.dark-btn:active {
  opacity: 0.6;
}

.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* sticky footer */
.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.text-black {
  color: var(--clr-black);
}

.text-white {
  color: var(--clr-white);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*******************************
    HEADER START
********************************/

.header__wrapper {
  display: -ms-grid;
  display: grid;
}

/*! header inner */
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 0;
}

.site-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-style: normal;
}

.site-adress__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--clr-dark);
}

.site-adress::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url("../images/main/header/house.svg");
}

.phone-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-list::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../images/main/header/phone.svg");
}

.phone-list__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--clr-dark);
}

.phone-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-list__item:not(:last-child) {
  margin-right: 9px;
}

.phone-list__item:not(:first-child)::before {
  display: block;
  width: 4px;
  height: 4px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--clr-yellow);
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.phone-list__link:hover {
  color: var(--clr-yellow);
}

.phone-list__link:active {
  color: var(--clr-dark);
  opacity: 0.6;
}

.time-list::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-image: url("../images/main/header/calendar.svg");
}

.time-list__item:nth-child(1) {
  margin-right: 17px;
}

/*! header outer */
.header__outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: var(--clr-white);
}

.site-logo {
  position: absolute;
  left: calc(50% - 850px);
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.header__outer__wrapper {
  width: var(--container-width);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding-left: 150px;
}

.navigation {
  width: 70%;
  margin-right: 163px;
}

.navigation__list {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation__list::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  background-image: url("../images/main/header/active.svg");
}

.navigation__item:not(:last-child) {
  margin-right: 55px;
}

.navigation__link {
  display: inline-block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--clr-dark);
  border-bottom: 4px solid transparent;
}

.navigation__link:hover {
  border-bottom-color: var(--clr-yellow);
}

.navigation__link:active {
  opacity: 0.6;
}

.header__outer__question-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: var(--clr-dark);
}

.header__outer__question-link::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url("../images/main/header/pet.svg");
}

/*******************************
    HERO START
********************************/
.hero {
  padding-top: 145px;
  padding-bottom: 290px;

  background-image: url("../images/main/hero/hero_animals.png"),
    url("../images/main/hero/parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 700px) -100px, calc(50% + 700px) bottom;
}
.hero__wrapper {
  width: min(608px, 50%);
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 29px;
  font-weight: var(--fw-bold);
  font-size: 70px;
  line-height: 64px;
  color: var(--clr-dark);
}

.hero__span {
  color: #78c0de;
}

.hero__text {
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  width: 81%;
  color: #949494;
}

/*******************************
    QUOTES START
********************************/

.quotes {
  position: relative;
}

.quotes__wrapper {
  position: relative;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-inline: auto;
}

.quotes::before {
  content: "";
  position: absolute;
  width: 142px;
  top: -50px;
  left: calc(50% - 700px);
  height: 128px;
  background-image: url("../images/main/quotes/quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.quotes::after {
  content: "";
  position: absolute;
  width: 142px;
  bottom: 30px;
  transform: rotate(0.5turn);
  left: calc(50% + 600px);
  height: 128px;
  background-image: url("../images/main/quotes/quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
}

.line {
  width: 140px;
  border-bottom: 1px solid #dbdbdb;
}

.line-top {
  margin-bottom: 43px;
}

.line-bottom {
  margin-bottom: 35px;
}

.quotes__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
  margin-bottom: 35px;
}

.quotes__title {
  font-size: 20px;
  line-height: 26px;
  color: var(--clr-dark);
}

/*******************************
    SERVICES START
********************************/

.services {
  position: relative;
  padding-top: 191px;
  padding-bottom: 127px;
}

.services__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  overflow: hidden;
}

.services__title {
  margin-bottom: 80px;
  font-weight: var(--fw-bold);
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}

.services__item {
  height: 200px;
  position: relative;
  padding-top: 129px;
  padding-bottom: 28px;
  padding-inline: 41px;
  background-color: var(--clr-white);
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

.services__item__link {
  font-size: 18px;
  line-height: 22px;
  color: var(--clr-dark);
}

.services__item__title {
  font-size: 18px;
  line-height: 22px;
}

.services__item:hover {
  opacity: 0.8;
}

.services__item:active {
  opacity: 0.6;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 21px;
}

.services__item--active {
  height: 214px;
}

.services__item:nth-child(1):before {
  background-image: url("../images/main/services/doctor1.svg");
}

.services__item:nth-child(2):before {
  background-image: url("../images/main/services/doctor4.svg");
}
.services__item:nth-child(3):before {
  background-image: url("../images/main/services/doctor5.svg");
}

.services__item:nth-child(4):before {
  background-image: url("../images/main/services/doctor2.svg");
}

.services__item:nth-child(5):before {
  background-image: url("../images/main/services/doctor3.svg");
}

.services__item:nth-child(6):before {
  background-image: url("../images/main/services/veterinary.svg");
}

.services__item:nth-child(7):before {
  background-image: url("../images/main/services/uzi.svg");
}

.services__item:nth-child(8):before {
  background-image: url("../images/main/services/chip.svg");
}

.services__item:nth-child(9):before {
  background-image: url("../images/main/services/international.svg");
}

.services__item:nth-child(10):before {
  background-image: url("../images/main/services/vaccine.svg");
}

.services__item:nth-child(11):before {
  background-image: url("../images/main/services/stomatology.svg");
}

.services__item:nth-child(12):before {
  background-image: url("../images/main/services/home.svg");
}

.services__item:not(:last-child) {
  margin-right: 13px;
}

.services__img {
  margin-right: 67px;
  border-radius: 5px;
}

.services__content {
  padding-block: 43px;
  padding-left: 35px;
  background-color: var(--clr-white);
}

.services__content__inner {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: min(492px, 45%);
}

.services__content__title {
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 20px;
  color: var(--clr-dark);
}

.services__content__text {
  line-height: 20px;
  margin-bottom: 9px;
}

.services__btn-container {
  margin-top: 25px;
}

.services__btn-container .dark-btn::before {
  background-image: url("../images/icons/document.svg");
}

.services__btn:nth-child(1) {
  margin-right: 21px;
}
.services__btn:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__btn:nth-child(2)::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.arrow {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-left {
  left: calc(50% - 750px);
}

.arrow-right {
  right: calc(50% - 750px);
  transform: rotate(0.5turn);
  -webkit-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
}

.arrow:hover {
  background-color: var(--clr-white);
}

.arrow:active {
  opacity: 0.6;
}

/*******************************
    ARTICLE START
********************************/

.article {
  position: relative;
  padding: 90px 0;
  background-image: url("../images/main/article/bg.jpg");
}

.article::after {
  content: "";
  position: absolute;
  top: -125px;
  left: calc(50% + 200px);
  width: 613px;
  height: 481px;
  background-image: url("../images/main/article/article_dog.png");
  background-size: contain;
  background-position: center;
}

.article__wrapper {
  padding-left: 50px;
}

.article__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--clr-white);
}

.article__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article__input {
  outline: none;
  width: 335px;
  margin-right: 21px;
  padding: 18px 22px;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  color: var(--clr-dark);
}

.form-input {
  outline: none;
}

.form-input:focus {
  border-color: #ffbd54;
}

.form-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  color: #dc4d41;
  border-color: #dc4d41;
}

.form-input:not(:focus):not(:-ms-input-placeholder):invalid {
  color: #dc4d41;
  border-color: #dc4d41;
}

.form-input:not(:focus):not(:placeholder-shown):invalid {
  color: #dc4d41;
  border-color: #dc4d41;
}

.article__input::-webkit-input-placeholder {
  line-height: 20px;
  color: #949494;
}

.article__input::-moz-placeholder {
  line-height: 20px;
  color: #949494;
}

.article__input:-ms-input-placeholder {
  line-height: 20px;
  color: #949494;
}

.article__input::-ms-input-placeholder {
  line-height: 20px;
  color: #949494;
}

.article__input::placeholder {
  line-height: 20px;
  color: #949494;
}

/*******************************
    BLOGS START
********************************/

.blogs {
  padding-top: 151px;
  padding-bottom: 262px;
}

.blogs__title {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--clr-dark);
}

.blogs__item {
  background-color: #fefefe;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.blogs__item:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blogs__item:active {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blogs__item:nth-child(2) {
  margin: 0 24px;
}

.blogs__item--active {
  position: relative;
  max-width: min(640px, 60%);

  padding-block: 33px;
  padding-right: 34px;
  padding-left: 336px;
}

.blogs__item--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  background-size: cover;
  height: 100%;
}

.blogs__item--active:nth-child(1):before {
  background-image: url("../images/main/blog/blog1.jpg");
}

.blogs__item--active:nth-child(2):before {
  background-image: url("../images/main/blog/blog2.jpg");
}

.blogs__item--active:nth-child(3):before {
  background-image: url("../images/main/blog/blog3.jpg");
}

.blogs__item--active .blogs__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
}

.hash-list {
  margin-right: 67px;
}

.hash-list__item:not(:last-child) {
  margin-right: 7px;
}

.hash-list__item {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #3d9cea;
}

.blogs__item:not(.blogs__item--active) {
  position: relative;
  padding: 200px 22px 35px 22px;
  width: 305px;
}

.blogs__item:not(.blogs__item--active) .hash-list {
  display: none;
}

.blogs__item:not(.blogs__item--active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogs__item:nth-child(1):not(.blogs__item--active)::before {
  background-image: url("../images/main/blog/blog1.jpg");
}

.blogs__item:nth-child(2):not(.blogs__item--active)::before {
  background-image: url("../images/main/blog/blog2.jpg");
}

.blogs__item:nth-child(3):not(.blogs__item--active)::before {
  background-image: url("../images/main/blog/blog3.jpg");
}

.blogs__item.blogs__item--active .blogs__time {
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.blogs__item:not(.blogs__item--active) .blogs__time {
  display: block;
  text-align: right;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.blogs__item.blogs__item--active .blogs__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: var(--clr-dark);
}

.blogs__item:not(.blogs__item--active) .blogs__item__title {
  margin-bottom: 10px;
  font-weight: var(--fw-bold);
  font-size: 22px;
  line-height: 25px;
}

.blogs__item.blogs__item--active .blogs__item__text {
  margin-bottom: 33px;
  line-height: 20px;
  color: #949494;
}

.blogs__item:not(.blogs__item--active) .blogs__item__text {
  margin-bottom: 34px;
  line-height: 20px;
  color: #949494;
}

.blogs__item.blogs__item--active .blogs__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 21px;
  color: var(--clr-dark);
}

.blogs__item:not(.blogs__item--active) .blogs__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 21px;
  color: var(--clr-dark);
  cursor: pointer;
}

.blogs__item__link::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url("../images/main/header/pet.svg");
}

/*******************************
    CONTACT START
********************************/

.contact {
  max-width: var(--container-width);
  margin-inline: auto;
  margin-bottom: 246px;
}

.contact__map {
  width: 30%;
  height: 700px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
  padding-top: 61px;
  padding-bottom: 75px;
  padding-left: 150px;
  background-color: #535353;
  background-image: url("../images/main/contact/contact_bg.png");
}

.contact__inner__wrapper {
  width: 400px;
}

.contact__inner {
  width: 400px;
}

.contact__form__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: var(--clr-white);
}

.contact__form__text {
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.contact__input,
.contact__textarea {
  width: 375px;
}

.contact__input {
  border: 1px solid var(--clr-white);
  margin-bottom: 14px;
  padding: 16px 22px;
}

.contact__input:focus {
  border-color: var(--clr-yellow);
}

.contact__textarea {
  margin-bottom: 30px;
  padding-top: 17px;
  padding-left: 22px;
  color: #dbdbdb;
  resize: none;
}

.contact__textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.contact__textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.contact__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.contact__textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.contact__textarea::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

/*******************************
    FOOTER START
********************************/

.footer {
  padding-top: 61px;
  padding-bottom: 69px;
  background-color: #f3f3f3;
}

.footer .site-logo {
  position: relative;
  inset: 0;
  margin-right: 67px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner {
  gap: 87px;
  margin-right: 127px;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 14px;
}

.footer__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer__link {
  font-size: 16px;
  line-height: 21px;
  color: var(--clr-dark);
}

.footer__link:hover {
  color: var(--clr-yellow);
}

.footer__link:active {
  color: #333333b3;
}

.footer__outer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 87px 1fr 87px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 87px;
}

.footer__outer > * {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .time-list {
  position: relative;
  padding-left: 24px;
}

.footer .time-list::before {
  position: absolute;
  left: 0;
  top: 3px;
}

.footer .time-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}

.footer .time-list__item:not(:last-child) {
  margin-bottom: 3px;
}

.footer .site-adress {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 21px;
}

.footer .site-adress::before {
  margin-top: 5px;
}

.footer .phone-list {
  position: relative;
  padding-left: 24px;
}

.footer .phone-list__item:not(:last-child) {
  margin-bottom: 4px;
}

.footer .phone-list::before {
  position: absolute;
  left: 0;
  top: 3px;
}
.footer .phone-list__item:before {
  display: none;
}

/*******************************
  FEATURES PAGE
********************************/

.services-hero {
  background-image: url("../images/parrot.png");
  background-position: calc(50% + 700px);
}

.services-hero .hero__wrapper {
  margin-left: 0;
}

.features {
  padding-bottom: 168px;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 305px);
  align-content: center;
  justify-content: center;
  width: 100%;
  grid-gap: 32px 30px;
}

.features__item {
  padding-top: 53px;
  padding-right: 22px;
  padding-bottom: 45px;
  padding-left: 53px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--clr-white);
  background-image: url("../images/service-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

.features__item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.features__item::before {
  content: "";
  display: block;
  width: 100px;
  height: 80px;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: cover;
}

.features__item:nth-child(1):before {
  background-image: url("../images/main/services/doctor1.svg");
}

.features__item:nth-child(2):before {
  background-image: url("../images/main/services/doctor4.svg");
}
.features__item:nth-child(3):before {
  background-image: url("../images/main/services/doctor5.svg");
}

.features__item:nth-child(4):before {
  background-image: url("../images/main/services/doctor2.svg");
}

.features__item:nth-child(5):before {
  background-image: url("../images/main/services/doctor3.svg");
}

.features__item:nth-child(6):before {
  background-image: url("../images/main/services/veterinary.svg");
}

.features__item:nth-child(7):before {
  background-image: url("../images/main/services/uzi.svg");
}

.features__item:nth-child(8):before {
  background-image: url("../images/main/services/chip.svg");
}

.features__item:nth-child(9):before {
  background-image: url("../images/main/services/international.svg");
}

.features__item:nth-child(10):before {
  background-image: url("../images/main/services/vaccine.svg");
}

.features__item:nth-child(11):before {
  background-image: url("../images/main/services/stomatology.svg");
}

.features__item:nth-child(12):before {
  background-image: url("../images/main/services/home.svg");
}

.features__item__title {
  word-break: break-all;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: var(--clr-dark);
}

.features__item__text {
  margin-bottom: 26px;
  line-height: 20px;
  color: #949494;
}

.features__item button::before {
  display: none;
}

/*******************************
  FAQ PAGE
********************************/

.faq-hero {
  background-image: url("../images/faq-bg.png");
  background-position: calc(50% + 600px) 50px;
  background-size: contain;
}

.faq-hero .hero__wrapper {
  margin-left: 0;
}

.faq{
  background-image: url("../images/faq-parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) bottom;
}

.faq__list {
  margin-top: -150px;
  display: grid;
  row-gap: 18px;
  margin-bottom: 270px;
}

.faq__item {
  position: relative;
  max-width: 750px;
  padding: 33px 0 75px 63px;
  background-color: var(--clr-white);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.faq__item.inactive{
  background-color: #F3F3F3;
  pointer-events: none;
}

.faq__wrapper {
  display: flex;
}

.faq__time {
  position: relative;
  margin-right: 28px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
  color: var(--clr-dark);
  padding-left: 30px;
}

.faq__time::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  background-repeat: no-repeat;
  left: 0;
}

.faq__item:nth-child(odd) .faq__time::before{
  background-image: url("../images/pet.svg");
}

.faq__item:nth-child(even) .faq__time::before{
  background-image: url("../images/pet-1.svg");
}

.faq__link {
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.faq__summary{
  position: relative;
  display: flex;
  padding-right: 102px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--clr-dark);
  list-style: none;
}

.faq__summary::after{
  content: "";
  position: absolute;
  right: 5%;
  width: 8px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/arrow.svg");
  background-size: contain;
  background-position: center;
}

.faq__item.inactive .faq__summary::after{
  background-image: url("../images/clock.svg");
}

.faq__details[open] .faq__summary::after{
  background-image: url("../images/Group.svg");
}



.faq__summary::marker{
  list-style: none;
  display: none;
}

.faq__text {
  margin-top: 23px;
  line-height: 20px;
  color: #949494;
}
